@model IEnumerable<OrdersSystem.Web.ViewModels.Repairs.RepairViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "All Repairs Orders";
}

<h2>All Repairs Orders</h2>
<hr />
@Html.Partial("_TempDataPartial")

@Html.Partial("_CreateNewButtonPartial")
<br />
<br />
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.Customer.Name).Titled("Customer").SetWidth(110).Sortable(true).Filterable(true);
    columns.Add(x => x.Device.Name).Titled("Device").SetWidth(110).Sortable(true).Filterable(true);
    columns.Add(x => x.EndDate).Titled("End Date").SetWidth(110).Sortable(true).Format("{0:dd/MM/yyyy}").Filterable(true);
    columns.Add(x => x.Status).Titled("Order Status").SetWidth(110).Sortable(true);
    columns.Add().Titled("Details").Encoded(false).Sanitized(false).SetWidth(30)
        .RenderValueAs(x => Html.ActionLink("See Details", "Details", new { x.Id }, new { @class = "btn btn-primary" }));
}).WithPaging(6)

